
header{
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 1fr;

  width: 100%;
  height: 100vh;

  background: no-repeat center url('../assets/webbanner-long.jpg');
  background-size: cover;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  color: var(--soft-black);
  
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 4;

  justify-self: start;
  align-self: center;
}

/* hero web dev text */
.hero-p {
  color:var(--soft-black);

  grid-row-start: 2;
  grid-column-start: 2;

  justify-self: start;
  align-self: end;
}

 /*hero button*/
 .cta-button {
  width: max-content;
  height: min-content;
  
  grid-column-start: 2;
  grid-row-start: 3;
  align-self: start;
  justify-self: start;
  margin-top: 2rem;
  
  color: var(--off-white);
  
  padding: 1rem;
  border-radius: 15em;
  border: 0;

  max-width: 40ch;
  
  background-color: var(--candy-blue);
  }
  
  .cta-button:hover{
    color: var(--pumpkin-orange);
    background-color: #bababa;
  }

  @media screen and (max-width: 1100px) {

    h1{
      margin-bottom: 2rem;
    }

    .hero-p {
      align-self: end;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  /* for mobile */
  @media screen and  (max-width: 600px) {
  header{
  display:grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;

  background: no-repeat center url('../assets/webbanner-short.jpg');
  background-size: cover;
  }

  h1{
    font-size: 3rem;
    font-weight: 600;
  }

  .cta-button{
    width: 10rem;
    grid-row-start: 3;
  }
}