/* this keeps the footer at the bottom */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* adjusts  the main body according to content */
main {
  flex: auto;
}

/* footer styles */
footer {
  display: flex;
  flex-direction: column;
  justify-items: space-around;

  align-self: flex-end;
  text-align: center;

  width: 100%;
  background-color: hsl(351, 2%, 80%);
}

 /* reduce space between copy and links */
.footer-ul {
  margin-top: 0;
}

.footer-link {
  color: var(--soft-black);
  margin-top: 0;
}

 /* centers text with links */
.copyright {
  margin-left: 2rem;
}

/* for mobile */
@media screen and (width < 600px) {
  footer {
    flex-direction: row;
    align-items: center;
  }

  .footer-link {
    display: inline;
  }

  .footer-ul {
    margin-bottom: 0;
    padding-bottom: 0;
  }

}