
nav ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  width: 100vw;
  height: min-content;
}

nav{
  display: flex;
  justify-content: space-between;

  background-color: var(--soft-black);

  width: 100%;
  height: min-content;
  padding-top: 0.5rem;
}

/* nav links text styles */
li {
  margin-left: 1rem;
  margin-right:1.5rem;

  color: hsl(44, 79%, 96%);
  font-size: 1rem;
}

/* nav links */
.nav-a {
  color: var(--off-white);
  font-family: 'Cabin' , sans-serif;
  padding: 1rem;
}
/* nav links hover */
.nav-a:hover {
  background-color: var(--party-red); 
  border-radius: 20px;
}
/* for current menu nav */
.current-page {
  border-radius: 20px;
  padding: 0.5rem;
  padding-top: 0;
  align-self: flex-start;
}

.current-page:hover {
  background-color: var(--party-red); 
}
/* the icon in nav bar */
.navlogo {
  fill: white;
  stroke: white;
  width:2rem;
  align-self: center;
  justify-self:flex-end;
  margin-left: 1rem;
  flex: none;
}

input, label {
  display: none;
}


/* for hamburger menu */
@media screen and  (max-width: 600px) {

  input {
    display: none;
  }
  
  nav ul {
    display: none;
  }

  /* norepeat for background image not working */
  label {
    display: block;

    width: 30px;
    height: 28px;
    padding-left: 2rem;

    color: var(--soft-black);
    background-image: url(../assets/x-icon.svg); 
  }
  
  input:checked + ul {
    display: block;
    width: min-content;
    margin-top: 1rem;
  }
  
}