body {
  font-size: 20px;
  line-height: 1.8rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Montserrat', Arial, Helvetica, sans-serif;
}


p, li {
  font-family:'Cabin' , sans-serif
}

a {
  font-family:'Cabin' , sans-serif;
  font-weight: bold;
  font-size: smaller;
}